<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Nuit de l'info 2016{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('prism/prism.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ asset('js/piwik.js') }}"></script>
    <noscript><p><img src="//piwik.paul-mesnilgrente.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
  </head>
  <body>
    {% include 'nav.html.twig' %}
    <div class="container">
      {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message|raw }}
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      {% block body %}{% endblock %}
    </div>
    {% include 'footer.html.twig' %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    {# <script src="{{ asset('highlightjs/highlight.pack.js') }}"></script> #}
    {# <script>hljs.initHighlightingOnLoad();</script> #}
    <script src="{{ asset('prism/prism.js') }}"></script>
    <script src="{{ asset('prism/load.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
