<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">Nuit de l'info 2016</a>
    </div>

    {% set r = app.request.get('_route') %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if r == 'homepage' %} class="active"{% endif %}><a href="{{ path('homepage') }}">Accueil</a></li>
        <li{% if r == 'equipe' %} class="active"{% endif %}><a href="{{ path('equipe') }}">Notre équipe</a></li>
        <li{% if r == 'doc_presentation_opendata' or r == 'doc_utilisateur_opendata' or r == 'doc_conception_opendata' or r == 'doc_open_data_opendata' %} class="active"{% endif %} class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Défi OpenData <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li{% if r == 'doc_presentation_opendata' %} class="active"{% endif %}><a href="{{ path('doc_presentation_opendata') }}">Présentation</a></li>
            <li{% if r == 'doc_utilisateur_opendata' %} class="active"{% endif %}><a href="{{ path('doc_utilisateur_opendata') }}">Documentation utilisateur</a></li>
            <li{% if r == 'doc_conception_opendata' %} class="active"{% endif %}><a href="{{ path('doc_conception_opendata') }}">Conception</a></li>
            <li role="separator" class="divider"></li>
            <li{% if r == 'open_data' %} class="active"{% endif %}><a href="{{ path('open_data') }}">Démonstration</a></li>
          </ul>
        </li>
        <li{% if r == 'doc_presentation_jarvis' or r == 'doc_utilisateur_jarvis' or r == 'doc_conception_jarvis' or r == 'jarvis' %} class="active"{% endif %} class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Défis Jarvis <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li{% if r == 'doc_presentation_jarvis' %} class="active"{% endif %}><a href="{{ path('doc_presentation_jarvis') }}">Présentation</a></li>
            <li{% if r == 'doc_utilisateur_jarvis' %} class="active"{% endif %}><a href="{{ path('doc_utilisateur_jarvis') }}">Documentation utilisateur</a></li>
            <li{% if r == 'doc_conception_jarvis' %} class="active"{% endif %}><a href="{{ path('doc_conception_jarvis') }}">Conception</a></li>
            <li role="separator" class="divider"></li>
            <li{% if r == 'jarvis' %} class="active"{% endif %}><a href="{{ path('jarvis') }}">Démonstration</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li{% if r == 'contact' %} class="active"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li{% if r == 'fos_user_profile_show' or r == 'fos_user_profile_edit' or r == 'fos_user_change_password' or r == 'fos_user_security_logout' or r == 'consulter_non_publies_post' or r == 'ajouter_post' or r == 'ajouter_media' or r == 'consulter_media'  %} class="active"{% endif %}>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span> <span class="caret">
          </a>
          <ul class="dropdown-menu">
            <li{% if r == 'fos_user_profile_show' %} class="active"{% endif %}><a href="{{ path('fos_user_profile_show') }}">Consulter profil</a></li>
            <li{% if r == 'fos_user_profile_edit' %} class="active"{% endif %}><a href="{{ path('fos_user_profile_edit') }}">Editer profil</a></li>
            <li{% if r == 'fos_user_change_password' %} class="active"{% endif %}><a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a></li>
            <li role="separator" class="divider"></li>
            {% if is_granted('ROLE_AUTEUR') %}
              <li{% if r == 'ajouter_post' %} class="active"{% endif %}><a href="{{ path('ajouter_post') }}">Ajouter un post</a></li>
              <li{% if r == 'consulter_non_publies_post' %} class="active"{% endif %}><a href="{{ path('consulter_non_publies_post') }}">Consulter les posts non publiés</a></li>
              <li role="separator" class="divider"></li>
            {% endif %}
            {% if is_granted('ROLE_AUTEUR') %}
              <li{% if r == 'ajouter_media' %} class="active"{% endif %}><a href="{{ path('ajouter_media') }}">Ajouter une image</a></li>
              <li{% if r == 'consulter_media' %} class="active"{% endif %}><a href="{{ path('consulter_media') }}">Consulter les images</a></li>
              <li role="separator" class="divider"></li>
            {% endif %}
            <li{% if r == 'fos_user_security_logout' %} class="active"{% endif %}><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
          </ul>
        </li>
        {% else %}
        <li{% if r == 'fos_user_security_login' %} class="active"{% endif %}>
          <a href="{{ path('fos_user_security_login') }}">
            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
          </a>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
