{% extends 'base.html.twig' %}

{% block body %}
<h1>Supprimer une image</h1> <hr>

<div class="alert alert-danger" role="alert">
  <p>
    Êtes-vous bien sûr de vouloir supprimer cette image "{{ image.imageName }}".<br>
    Cette image sera supprimer de la base de donnée et du système de fichier.
  </p>
  <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.imageName }}" height=200 />
</div>

{{ form_start(form) }}
<input type="submit" class="btn btn-danger" value="Supprimer">
{{ form_rest(form) }}
{% endblock %}
