<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Post</a></li>
    <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="form">
      <h2>Formulaire</h2>
      
      {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.estPublie) }}
        {{ form_row(form.abstract, {'attr': {'rows': 7}}) }}
        {{ form_row(form.contenu, {'attr': {'rows': 30}}) }}
        <input type="submit" class="btn btn-default">
      {{ form_end(form) }}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="preview">
    </div>
  </div>
</div>
