<article>
  <h2><a href="{{ path('voir_post', {'slug': post.slug}) }}">{{ post.titre }}</a></h2>
  <p>
    <small>{{ post.auteur.username }} | 
      {{ post.datePublication is empty ?
      "" : post.datePublication|date('d/m/Y à H\\hi') }}
    </small>
  </p>
  {% include 'post/contenu.html.twig' with {'html': post.contenu} %}
</article>
{% if is_granted('ROLE_AUTEUR') %}
  <a class="btn btn-primary" href="{{ path('modifier_post', {'slug': post.slug}) }}">Modifier</a>
  <a class="btn btn-danger" href="{{ path('supprimer_post', {'slug': post.slug}) }}">Supprimer</a>
{% endif %}
